.modal-container-contained{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
}

.modal-box-shadow-contained{
  content: '';
  position: fixed;
  background: #494f66;
  width: 100%;
  height: 100%;
  opacity: .8;
  z-index: 2;
}

.modal-container-render-contained{
  z-index: 2;
  width: 100%;
  height: 100%;
}

#meetingLawyersRender{
  display: block;
  width: 100%;
  height: 100%;
  z-index: 1;
}